*.log
*.pot
*.pyc
__pycache__/
.venv/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*
photos
photo
migrations
hls_videos
static_file
migrations
videos
statics
static
media
venv
logs
*/migrations
*.db
files
file